<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - OlympSystem</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home")" class="navbar-brand">OlympSystem<sup><span style="color:Red;">beta</span></sup></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Новости", "Index", "Home")</li>
                    <li>@Html.ActionLink("Задачи", "Index", "Problem")</li>
                    <li>@Html.ActionLink("Отправки", "Index", "Submit")</li>
                    <li>@Html.ActionLink("О проекте", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакты", "Contact", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-muted credit text-center">
                <a href="http://nstu.ru"><abbr title="Новосибирский государственный технический университет">НГТУ</abbr></a>, <a href="http://ami.nstu.ru"><abbr title="Факультет прикладной математики и информатики">ФПМИ</abbr></a> &copy; Илья Ступаков 2010-@DateTime.Now.Year
            </p>
            <p class="text-muted text-right">Время сервера: @DateTime.Now</p>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
