@using Microsoft.AspNetCore.Localization;
@{
	var requestCulture = Context.Features.Get<IRequestCultureFeature>();
	var lang = requestCulture?.RequestCulture.UICulture.IetfLanguageTag;
	var currentPage = ViewContext.ActionDescriptor.DisplayName;
}
<!DOCTYPE html>
<html lang="@lang">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - OlympSystem</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/Olymp.Site.styles.css" asp-append-version="true" />
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-page="/Index">OlympSystem</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link @(currentPage is "/Index"? "active": null)" asp-area="" asp-page="/Index">@Localizer["News"]</a>
						</li>
						@if (User.HasClaim(x => x.Type == ClaimNames.CompetitorContest)) {
							var contestId = int.Parse(User.Claims.FirstOrDefault(x => x.Type == ClaimNames.CompetitorContest)!.Value);
							<li class="nav-item">
								<a class="nav-link @(currentPage is "/Contests/Submits/Index"? "active": null)" asp-area="" asp-page="/Contests/Submits/Index" asp-route-id="@contestId">@Localizer["Submit solution"]</a>
							</li>
							<li class="nav-item">
								<a class="nav-link @(currentPage is "/Contests/Standing/Index"? "active": null)" asp-area="" asp-page="/Contests/Standing/Index" asp-route-id="@contestId">@Localizer["Standings"]</a>
							</li>
						}
						else {
							if (User.Identity?.IsAuthenticated is true) {
								<li class="nav-item">
									<a class="nav-link @(currentPage is "/Submissions/Index"? "active": null)" asp-area="" asp-page="/Submissions/Index" asp-route-n="">@Localizer["Submissions"]</a>
								</li>
							}
							<li class="nav-item">
								<a class="nav-link @(currentPage is "/Contests/Index"? "active": null)" asp-area="" asp-page="/Contests/Index">@Localizer["Contests"]</a>
							</li>
						}
						<li class="nav-item">
							<a class="nav-link @(currentPage is "/Rules"? "active": null)" asp-area="" asp-page="/Rules">@Localizer["Rules"]</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(currentPage is "/Sponsors"? "active": null)" asp-area="" asp-page="/Sponsors">@Localizer["Sponsors"]</a>
						</li>
						<li class="nav-item">
							<a class="nav-link @(currentPage is "/Contacts"? "active": null)" asp-area="" asp-page="/Contacts">@Localizer["Contacts"]</a>
						</li>
						@if (User.IsInRole(RoleNames.Admin) || User.IsInRole(RoleNames.Jury)) {
							<li class="nav-item">
								<a class="nav-link @(currentPage is "/Checkers/Index"? "active": null)" asp-area="" asp-page="/Checkers/Index">@Localizer["Checkers"]</a>
							</li>
						}
						@if (User.IsInRole(RoleNames.Admin)) {
							<li class="nav-item">
								<a class="nav-link @(currentPage is "/Users/Index"? "active": null)" asp-area="" asp-page="/Users/Index">@Localizer["Users"]</a>
							</li>
							<li class="nav-item">
								<a class="nav-link @(currentPage is "/Plagiarism/Index"? "active": null)" asp-area="" asp-page="/Plagiarism/Index">@Localizer["Plagiarism"]</a>
							</li>
						}
					</ul>
					<partial name="_LoginPartial" />
				</div>
			</div>
		</nav>
	</header>
	<main role="main" class="pb-3">
		<div class="container">
			@RenderBody()
		</div>
	</main>
	<footer class="border-top text-muted">
		<div class="container">
			<partial name="_Footer" />
			<div class="text-end">
				@Localizer["Server time"]: @DateTimeOffset.Now
			</div>
		</div>
	</footer>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>