@model IEnumerable<OlympSystem.Models.News>
@{
    ViewBag.Title = "Новости";
}
<h1>Новости</h1>
<div class="row">
    <div class="col-md-12">
        @foreach (var news in Model)
        {
            <h3>@news.Title</h3>            
            <p>@Html.Raw(news.Text)</p>
            <p class="text-right">@news.PublicationDate.ToShortDateString()</p>
        }
    </div>
</div>
<ul class="pager">    
    @if (ViewBag.Page != ViewBag.PagesCount)
    {
        <li class="previous"><a href="@Url.Action("News", new{@page = (ViewBag.Page??1) + 1})">&larr; Старые</a></li>
    }
    else
    { 
        <li class="previous disabled"><span>&larr; Older</span></li>
    }
    @if (ViewBag.Page != 1)
    {
        <li class="next"><a href="@Url.Action("News", new { @page = ViewBag.Page - 1 })">Новые &rarr;</a></li>
    }
    else
    {
        <li class="next disabled"><span>Новые &rarr;</span></li>
    }
</ul>